/* my blogs */
#blogs{
    letter-spacing: 1px;
    position: relative;

}
    #blogs h3{
        font-size: 18px;
    }
    #blogs .blog-turinys{
        font-size: 15px;
        font-weight: 400;
        line-height:  1.5;
        letter-spacing: 1px;
        color: #757575;
        padding-right:  22px;
    }
    #blogs .topic p{
       
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #757575;
    }
.item-blog{
    display: inline-block;
    float: left;
    width: 31%;
    margin-left: 2%;
    position: relative;
    box-shadow:  0 2px 10px -1px rgba(0,0,0,.3);
}
.img-blog{
    display: inline-block;
    
    margin: 0 auto;
}
    .img-blog > img{
        max-width: 100%
    }

.blog-meta{
    margin-top:  20px;
    padding-right: 15px;
    padding-left: 15px;
    
    font-weight: 700;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}
    .blog-meta span{
        color: var(--main-color);
        margin-top: 10px;
       
    }
    .blog-meta .date{
        color: var( --nav-color);
        margin-left: 10px;
      
    }
    .blog-meta .foto img{
        position: absolute;
        margin: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 20px 0 ;
    }
.author{
    margin-left: 75px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 40px;
    padding-right: 0;
   

}

 p{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #757575;

   

}

 .blog-btn  {
        width: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding: 10px 34px;

 }
 @media ( max-width: 1050px ) {
    .item-blog{
        width: 96%;
        margin-top: 15px;
    }
 }
 @media ( max-width: 700px ) {
   
    .item-blog{
        width: 85%;
        margin-top: 15px;
    }

 }