/* my blogs */
.item-blog{
    display: inline-block;
    float: left;
    width: 31%;
    margin-left: 2%;
    position: relative;
    box-shadow:  0 2px 10px -1px rgba(0,0,0,.3);
}
.img-blog{
    display: inline-block;
    
    margin: 0 auto;
}
    .img-blog > img{
        max-width: 100%
    }

.blog-meta{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}
    .blog-meta .category{
        color: var(--main-color);
    
    }
    .blog-meta .date{
        color: var( --nav-color);
        
    }