/* all other styles, style updates, etc */
.plotis{
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* header */

/* hero */

/* about me */

/* services */

/* my work */

/* my blogs */

.item-blog h3{
    font-size:  20px;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 14px;
    color: #333;
    

}
/* contact */

/* footer */
#footer{
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    text-align: center;
    
}
.footer-top {
    background-color: var(--footer-color);
}

.social-icons{
    display:inline-block;
    width: 100%;
    padding: 30px 0;
  
}

.social-icons a{
    display:inline-block;
    width: 48px;
        height: 48px;
        background-color: var(--main-color);
        margin: 5px;
        font-size: 26px;
        border-radius: 50%;
        line-height: 44px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.7);
        text-decoration: none;
        color: white; 
        vertical-align: middle;
        text-align: center;
        
        
    }

    @keyframes icon_spin {
        0% {line-height: 44px; color: rgba(44, 19, 189,1);}
        50% {line-height: 10px; color: rgba(255, 255, 255, 0);}
        51% {line-height: 70px; color: rgba(255, 255, 255, 0);}
        100% {line-height: 44px; color: rgb(44, 19, 189,1);}
        }
    .social-icons a:hover {
        background-color: white; 
        color: var(--main-color);
        animation-name: icon_spin;
        animation-duration: 0.6s;
      }
    #footer .footer-nav{
    display:inline-block;
    width: 100%;
    text-decoration: none;
    
    
    
    }
    #footer .footer-nav a{
        display:inline-block;
        text-decoration: none;
        font-size: 15px;        
        margin: 10px 6px 0;
        font-weight: 600;
        padding-bottom: 25px;
        color: var( --nav-color);
        margin: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        /* --secondary-color: #f6f6f6;        */
        }
        #footer .footer-nav a:hover{
            color: var(--secondary-color);
        }
       
    .footer-bootom{
       margin: 0;
     
    }
    .footer-bottom .row{
        background-color: var(--main-color);
        padding-top: 20px;
        padding-bottom: 20px;
       
        }
        .footer-bottom  p{
            font-size: 14px;
            color: var(--main-color-anti);
            
            }
    .to_top{
       
        position: absolute;
        background-color: var(--main-color);
        right: 15px;
        top: 15px;
        width: 45px;
        height: 45px;
        font-size: 32px;
        line-height:  20px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.7);
        
    }   
        .to_top a{
            text-decoration: none;
            color: var(--main-color-anti);
            line-height: 38px;

        }
    

/* advertisement */

.advert {
    position: fixed;
    bottom: 0;
    right: 16px;
   
}

/* side bookmarks */
.ver-center{
      text-decoration: none;
      margin-top: 20%;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: 700;
      position: absolute;
  }
.left-link{
    
    left: -24px;
    transform: rotateZ(-90deg);
}
.right-link{
   
    right: -24px;  
    transform: rotateZ(90deg);
}
 /* button work */
 #works .works-btn {
    display: flex;
    justify-content: center;
}
@media ( max-width: 750px ) {
                                  
    .main-color{
        display: none;
    }
}