/* header */
html {
    scroll-behavior: smooth;
  }
#header{
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--secondary-color);
    margin: 0;
    box-shadow: 10px 1px #999;
 
}
#header .container{
    display: inline-block;
    width: 100%;    
    padding: 5px;
    margin: 0;
}

nav a{
        display: inline-block; 
        float: right;       
        text-transform: uppercase;
        text-decoration: none;
        color: var(--main-color);
        font-weight: bold;
        font-size: 16px;
        line-height: 1.25;
        padding: 10px 24px;
        margin: 8px 20px 10px 0;
        background-color: transparent;
        border-radius: 40px;
        cursor: pointer;
}   
nav a:hover {
    color:  var(--secondary-color);
    background-color: var(--main-color);

}
.active{
    color:  var(--secondary-color);
    background-color: var(--main-color);
}
#header img {
    display: inline-block;
    float: left;
    margin-left: 210px;
    margin-top:4px;
}
@media ( max-width: 1100px ) {
                                  
   
      nav a{
        display: inline-block; 
        float: right;       
        text-transform: uppercase;
        text-decoration: none;
        color: var(--main-color);
        
        font-size: 16px;
        line-height: 1.75;
        padding: 5px 12px;
        margin: 8px 10px 5px 0;
        background-color: transparent;
        border-radius: 40px;
        cursor: pointer;
}

@media ( max-width: 900px ) {
                                  
    .topnav {
        display: none;
      }
}