/* header */
html {
    scroll-behavior: smooth;
  }
  
#header{
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: var(--secondary-color);
    margin: 0;
    box-shadow: 10px 1px #999;
 
}
#header .container{
    display: inline-block;
    width: 100%;    
    padding: 5px;
    margin: 0;
    
}

nav a{
        display: inline-block; 
        float: right;       
        text-transform: uppercase;
        text-decoration: none;
        color: var(--main-color);
        font-weight: bold;
        font-size: 16px;
        line-height: 1.25;
        padding: 10px 24px;
        margin: 8px 20px 10px 0;
        background-color: transparent;
        border-radius: 40px;
        cursor: pointer;
}   
nav a:hover {
    color:  var(--secondary-color);
    background-color: var(--main-color);

}
.active{
    color:  var(--secondary-color);
    background-color: var(--main-color);
}
#header img {
    display: inline-block;
    float: left;
    margin-left: 210px;
    margin-top:4px;
}
@media ( max-width: 1100px ) {
                                  
   
      nav a{
        display: inline-block; 
        float: right;       
        text-transform: uppercase;
        text-decoration: none;
        color: var(--main-color);
        
        font-size: 16px;
        line-height: 1.75;
        padding: 5px 12px;
        margin: 8px 10px 5px 0;
        background-color: transparent;
        border-radius: 40px;
        cursor: pointer;
}
}
.hamburger {
    display: inline-block;
    width:44px;
    height: 40px;
    padding: 6px;
    margin-top: 6px;
    margin-right: 3%;
    right: 20px;
    float: right;
    background-color: transparent;
    cursor: pointer;
}
    .hamburger > .bar {
        display: inline-block;
        width: 100%;
        height: 14%;
        float: left;
        background-color: #333;
    }
    .hamburger > .bar + .bar {
        margin-top: 29%;
    }

@media ( min-width: 901px ) {
    .hamburger{
        display:none;
    }

}
@media ( max-width: 900px ) {
                                  
    .topnav {
        display: none;
      }
      .hamburger{
        display:inline-block;

    }
    #header{
        z-index: 2;
    }
}

/* hamburgerio meniu  */
#menu {
    display: none;
    /* width: 100%; */
    /* height: 100vh; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
}
    .show-menu #menu {
        display: inline-block;
    }
    #menu > .left,
    #menu > .right {
        display: inline-block;
        width: 50%;
        height: 100%;
        padding: 120px 0 50px 0;
        background: #FFFE;
    }
    #menu > .left {
        float: left;
        padding-left: 90px;
        padding-right: 20px;
        text-align: center;
    }
        #menu > .left.out {
            margin-left: -50%;
            animation-name: marginLeftOut;
            animation-duration: 1s;
        }
        #menu > .left.in {
            margin-left: 0%;
            animation-name: marginLeftIn;
            animation-duration: 1s;
        }
    #menu > .right {
        float: right;
        padding-left: 20px;
        padding-right: 90px;
        text-align: right;
    }
        #menu > .right.out {
            margin-right: -50%;
            animation-name: marginRightOut;
            animation-duration: 1s;
        }
        #menu > .right.in {
            margin-right: 0%;
            animation-name: marginRightIn;
            animation-duration: 1s;
        }
    @keyframes marginLeftIn {
        0% {
            margin-left: -50%;
        }
        100% {
            margin-left: 0;
        }
    }
    @keyframes marginLeftOut {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: -50%;
        }
    }
    @keyframes marginRightIn {
        0% {
            margin-right: -50%;
        }
        100% {
            margin-right: 0;
        }
    }
    @keyframes marginRightOut {
        0% {
            margin-right: 0;
        }
        100% {
            margin-right: -50%;
        }
    }
    #menu > div > a {
        display: inline-block;
        width: 50%;
        padding: 5px;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 7px;
        text-decoration: none;
        color: #333;
        border-radius: 20px;
    }

        #menu > div > a.fa {
            display: inline-block;
            width: 100%;
            padding: 5px 0;
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
            word-spacing: 7px;
            text-decoration: none;
            color: #333;
            border-radius: 20px;
    }
        #menu > div > a:hover,
        #menu > div > a.active {
            color: var(--secondary-color);
        }
