/* works */
:root {
    --gap: 20px;
    --c-12: calc((100% / 12) * 12 - 2*var(--gap));
    --c-11: calc((100% / 12) * 11 - 2*var(--gap));
    --c-10: calc((100% / 12) * 10 - 2*var(--gap));
    --c-9: calc((100% / 12) * 9 - 2*var(--gap));
    --c-8: calc((100% / 12) * 8 - 2*var(--gap));
    --c-7: calc((100% / 12) * 7 - 2*var(--gap));
    --c-6: calc((100% / 12) * 6 - 2*var(--gap));
    --c-5: calc((100% / 12) * 5 - 2*var(--gap));
    --c-4: calc((100% / 12) * 4 - 2*var(--gap));
    --c-3: calc((100% / 12) * 3 - 2*var(--gap));
    --c-2: calc((100% / 12) * 2 - 2*var(--gap));
    --c-1: calc((100% / 12) * 1 - 2*var(--gap));

    --cml-12: calc((100% / 12) * 12 + var(--gap));
    --cml-11: calc((100% / 12) * 11 + var(--gap));
    --cml-10: calc((100% / 12) * 10 + var(--gap));
    --cml-9: calc((100% / 12) * 9 + var(--gap));
    --cml-8: calc((100% / 12) * 8 + var(--gap));
    --cml-7: calc((100% / 12) * 7 + var(--gap));
    --cml-6: calc((100% / 12) * 6 + var(--gap));
    --cml-5: calc((100% / 12) * 5 + var(--gap));
    --cml-4: calc((100% / 12) * 4 + var(--gap));
    --cml-3: calc((100% / 12) * 3 + var(--gap));
    --cml-2: calc((100% / 12) * 2 + var(--gap));
    --cml-1: calc((100% / 12) * 1 + var(--gap));
}
@media ( max-width: 1300px ) {
    :root {
        --gap: 20px;
    }
}
@media ( max-width: 1100px ) {
    :root {
        --gap: 10px;
        --cml-1: calc((100% / 12) * 1 + var(--gap));

    
    }
}